@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 0;
	display: flex;
	height: 800px;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

h1{
	color: #FFFFFF;
	text-shadow: 0 0 15px #21FFB6, 0 0 35px #21FFB6, 0 0 50px #21FFB6, 0 0 100px #21FFB6;
	margin-left: 200px;
	margin-right: -500px;
	margin-top: -500px;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 3px;
	cursor: pointer;
}

.general{
	margin-top: 150px;
	background: #DF61B1;
	margin-left: -100px;
	width: 816px;
	border: 5px solid #21FFB6;
	height: 100px;
	border-radius: 10px;
	box-shadow: 0 0 10px 8px black;
}

.boton{
	margin-top: 15px;
	margin-right: -2px;
	margin-left: 10px;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #00FF30;
	letter-spacing: 3px;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	transition: 0.5s;
	border-radius: 10px;
}

.boton:hover{
	color: #F0FF00;
	background: #FF0DE5;
	box-shadow: 0 0 80px #FF0DE5, 0 0 80px #FF0DE5, 0 0 50px #FF0DE5;
	transition-delay: 1s;
}

.boton span{
	position: absolute;
	display: block;
}

.total1{
	top: 0;
	left: -100%;
	width: 100%;
	height: 3px;
	background: linear-gradient(90deg, transparent, #FF0DE5);
}

.boton:hover .total1{
	left: 100%;
	transition: 1s;
}

.total3{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 3px;
	background: linear-gradient(270deg, transparent, #FF0DE5);
}

.boton:hover .total3{
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.total2{
	top: -100%;
	right: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #FF0DE5);
}

.boton:hover .total2{
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.total4{
	bottom: -100%;
	left: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #FF0DE5);
}

.boton:hover .total4{
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

.boton1{
	position: relative;
	display: inline-block;
	padding: 15px 74px;
	color: #00FF30;
	letter-spacing: 3px;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	transition: 0.5s;
	border-radius: 10px;
}

.boton1:hover{
	color: #F0FF00;
	background: #FF0000;
	box-shadow: 0 0 80px #FF0000, 0 0 80px #FF0000, 0 0 50px #FF0000;
	transition-delay: 1s;
}

.boton1 span{
	position: absolute;
	display: block;
}

.total11{
	top: 0;
	left: -100%;
	width: 100%;
	height: 3px;
	background: linear-gradient(90deg, transparent, #FF0000);
}

.boton1:hover .total11{
	left: 100%;
	transition: 1s;
}

.total33{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 3px;
	background: linear-gradient(270deg, transparent, #FF0000);
}

.boton1:hover .total33{
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.total22{
	top: -100%;
	right: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #FF0000);
}

.boton1:hover .total22{
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.total44{
	bottom: -100%;
	left: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #FF0000);
}

.boton1:hover .total44{
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
